@model IEnumerable<TreinbeheersysteemMain.Models.TicketDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover" id="ticketTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Klasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginStationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindStationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Klasse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginStationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EindStationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prijs)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ticketTable').DataTable();
        });
    </script>
}