@model IEnumerable<VerbindingDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover" id="treinTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lengte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginPerronId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindPerronId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actief)
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lengte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginPerronId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EindPerronId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actief)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#treinTable').DataTable();
        });
    </script>
}