@model AccountDetailViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Gebruikersnaam" value="@Model.Gebruikersnaam" />
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" value="@Model.Voornaam" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" value="@Model.Achternaam" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol.Id" type="text" class="form-control" title="Station van het perron">
                    @foreach (Rol rol in Model.Rollen)
                    {
                        if (rol.Id == Model.Rol.Id)
                        {
                            <option selected value="@rol.Id">@rol.Naam</option>
                        }
                        <option value="@rol.Id">@rol.Naam</option>
                    }
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Actief" checked="@Model.Actief" /> @Html.DisplayNameFor(model => model.Actief)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

